#body_ {
    background-color: #ffffff;
    width: 1550px;
    height: 289px;
    border: 1px;
    border-style: dotted;
    border-color: black;
}
#bands {
    margin-right: 225px;
    margin-left: 225px;
    width: 1100;
    height: 287;
    /*border: 1px;
    border-style: dotted;
    border-color: black;*/
    display: flex;
    justify-content: space-between
}
.content {
    width: 220px;
    height: 287px;
    align-items: center;
    border: 1px;
    border-style: dotted;
    border-color: black;
}